@use "../abstracts/mixins"as *;
@use "../abstracts/variables"as *;
@use "../base/base"as *;


.partners_logo {
    height: 10rem;
    width: 15rem;

    position: relative;
    top: 0%;
    left: 50%;

    transform: translate(-50%, 0%);

}